body {
    margin: 0;
    font-family: Arial, sans-serif;
}

.navbar {
    background-color: #8c00ff;
    color: white;
    padding: 20px;
    text-align: center;
}

.navbar a {
    color: white;
    margin: 10px;
    text-decoration: none;
}


.banner {
    background: linear-gradient(rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.6)),
        url('./img/banner.jpg') no-repeat center center/cover;
    height: 80vh;
    color: white;
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
}


.kategori {
    padding: 40px 20px;
    text-align: center;
}

.kategori .item {
    border: 2px solid #8c00ff;
    display: inline-block;
    width: 250px;
    margin: 20px;
    padding: 20px;
    border-radius: 15px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}


.kategori img {
    width: 100px;
    height: 100px;
    border-radius: 50%;
}


.tentang {
    padding: 40px 20px;
    background-color: #f8f9fa;
    text-align: center;
}


.produk {
    padding: 40px 20px;
    text-align: center;
}

.produk .card {
    display: inline-block;
    width: 200px;
    border: 1px solid #ddd;
    border-radius: 8px;
    margin: 10px;
    overflow: hidden;
}

.produk img {
    width: 100%;
    height: 230px;
    object-fit: cover;
}


footer {
    background-color: #222;
    color: white;
    padding: 20px;
    text-align: center;
}

.medsos a {
    color: white;
    margin: 10px;
    text-decoration: none;
    font-size: 20px;
}


.search-container {
    display: flex;
    justify-content: center; 
    align-items: center;     
    margin-top: 20px;
    gap: 10px;                
}


.search-input {
    padding: 10px 15px;
    width: 300px;            
    border-radius: 20px;
    border: 1px solid #ccc;
    outline: none;
    font-size: 16px;
}


.search-button {
    padding: 10px 20px;
    background-color: #8e44ad; 
    color: white;
    border: none;
    border-radius: 20px;
    font-size: 16px;
}

.search-button:hover {
    background-color: #732d91; 
}
